@import "src/styles/partials/_variables.scss";

.valuesSection {
  width: 100%;
  background-color: $primary-background-color;
  padding: $spacing-large 0;
}

.valuesContainer {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 $spacing-medium;
}

.leftColumn {
  flex-basis: 60%;
  box-sizing: border-box;
  padding-right: $spacing-medium;
}

.rightColumn {
  flex-basis: 39%;
  padding: $spacing-medium;
  box-sizing: border-box;
}

h2 {
  font-size: $heading-font-size;
  margin-bottom: $spacing-small;
}

.aboutValues {
  font-family: $font-primary;
  font-size: $paragraph-font-size;
  line-height: $line-height;
  margin-bottom: $spacing-small;
}

.currentProject {
  margin-top: 2rem;
}

.valuesTitle {
  font-family: $font-primary;
  font-size: $heading-font-size;
  margin-bottom: $spacing-medium;
}

/* About Section */
.aboutSection {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  padding: 2rem $spacing-medium;
}

.aboutContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

.textColumn {
  flex-basis: 666px;
  max-width: 100%;
  padding-right: $spacing-medium;
  box-sizing: border-box;
}

.imageColumn {
  flex-basis: 391px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileImage {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.aboutDescription {
  font-family: $font-primary;
  font-size: $paragraph-font-size;
  color: $primary-text-color;
  letter-spacing: 0.03125rem;
}

.titleAbout {
  font-family: $font-primary;
  font-size: $heading-font-size;
  font-weight: bold;
  margin-bottom: $spacing-medium;
}

// Responsive Breakpoints
@media (max-width: 768px) {
  .valuesContainer {
    flex-direction: column;
  }

  .leftColumn, .rightColumn {
    flex-basis: 100%;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .textColumn {
    padding-right: 0;
  }

  .aboutSection {
    flex-direction: column;
  }

  .profileImage {
    width: 100%;
    border-radius: 8px;
  }
}