/* Variables */

// Colors
$primary-color: #4f5abf;
$background-color: #fff;
$primary-text-color: #212121;
$primary-background-color: #edf5ff;
$primary-blue-color: #2977e3;
$white: #fff;
$paytest-hub-color: #fff6e1;
$focal-point-color: #ecfff9;
$doably-color: #f0edff;
$recon-hub-color: #edf8ff;

// Width
$max-width: 1200px;

// Fonts
$font-primary: "Inter", sans-serif;
$heading-font-size: 1.2rem; // 24px ->rem
$paragraph-font-size: 1.125rem; // 18px -> rem
$line-height: 1.6;
$spacing-large: 2.5rem; // 40px -> rem
$spacing-medium: 1.25rem; // 20px -> rem
$spacing-small: 0.9375rem; // 15px -> rem

// Border Radius
$border-radius: var(--ant-border-radius-lg);
