/* Variables */

// Colors
$primary-color: #4F5ABF;
$background-color: #fff;
$primary-text-color: #212121;
$primary-background-color: #EDF5FF;

// Width
$max-width: 1200px;

// Fonts
$font-primary: "Inter", sans-serif;
$heading-font-size: 1.5rem;
$paragraph-font-size: 1.125rem;
$line-height: 1.6;
$spacing-large: 2.5rem;
$spacing-medium: 1.25rem;
$spacing-small: 0.9375rem;

// Border Radius
$border-radius: var(--ant-border-radius-lg);