// Home page
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh !important;
  background: #fff;
}

.layoutContainer {
  flex: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.header {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  background: #fff;
}

.headerInner {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 20px !important;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  &:hover {
    color: #4F5ABF !important;
  }
}

.menu {
  flex: 1;
  justify-content: flex-end;
  background-color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0;
  background-color: #fff;
}

.container {
  max-width: 1600px;
  width: 100%;
  text-align: center;
  padding: 20px;
  border-radius: var(--ant-border-radius-lg);
  background: #fff;
}

.mainTitle {
  margin-bottom: 8px;
  text-align: left;

  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}

.subtitle {
  text-align: left;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  margin: 0 auto;
}

.description {
  text-align: left;
  margin-top: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 24px;
}

.list {
  margin-left: 32px;
  text-align: left;
  margin-top: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 16px;
  list-style-type: disc;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 16px;
  font-size: 24px;
  margin-bottom: 24px;
  margin-top: 24px;
}

.footer {
  text-align: center;
  padding: 0 0 12px 0;
  background-color: #fff;
}

.informationBlock {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  margin-top: 56px;
  margin-bottom: 56px;
  display: block;
}

.contentPadding {
  padding: 0 24px 0 24px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.name {
  color: #2977E3;
}


