@import "src/styles/partials/_variables.scss";

/* Home Page - Card Section Styling */
.cardListWrapper {
  max-width: 1180px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $spacing-medium;
  padding: $spacing-large $spacing-medium;
}

/* Card Style */
.card {
  height: 400px; /* Set a fixed height */
  border-radius: 24px;
  //box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  }
}

.list {
  text-align: left;
  margin-top: 8px;
  font-family: $font-primary;
  font-weight: 200;
  font-style: normal;
  font-size: 1rem;
}

.cardContent {
  padding: $spacing-medium;
  z-index: 2;
  position: relative;
  flex-grow: 1; /* Let the content fill the card */
}

.cardTitle {
  font-size: 2rem;
  margin-bottom: 10px;
  color: $primary-text-color;
  text-align: left;
}

.cardImage {
  position: absolute;
  bottom: -37px;
  right: -48px;
  width: 150%;
  height: auto;
  z-index: 1;
  border-radius: 8px;
  pointer-events: none;
  object-fit: cover;
}

.cardDescription {
  font-size: $heading-font-size;
  margin-bottom: 20px;
  color: $primary-text-color;
  text-align: left;
}

/* Responsive adjustments for mobile screens */
@media (max-width: 768px) {
  .cardListWrapper {
    grid-template-columns: 1fr; /* Single column on mobile */
    grid-gap: 20px;
    padding: 40px 0;
  }

  .card {
    height: auto;
  }

  .cardTitle {
    font-size: 28px;
  }

  .cardDescription {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .cardListWrapper {
    padding: 0 !important;
  }

  .cardDescription {
    font-size: 18px;
  }
  .card {
    height: 380px !important;
  }
}
